<tr>
	<td><f:link.action action="show" arguments="{immobilie: immobilie.uid}">{immobilie.freitexte.objekttitel}</f:link.action></td>
	<td>Zimmer: {immobilie.flaechen.anzahlZimmer}</td>
	<td>Wohnfläche: {immobilie.flaechen.wohnflaeche}</td>
	<td>Adresse: {immobilie.geo.strasse} {immobilie.geo.hausnummer}, {immobilie.geo.plz} {immobilie.geo.ort}</td>
	<td>Warmmiete: {immobilie.preise.warmmiete}</td>
	<td>
		<f:for each="{immobilie.anhaenge.anhang}" as="anhang">
			<f:if condition="{anhang.gruppe} == 'BILD'">
				<f:image src="{anhang.daten.anhanginhalt}{anhang.daten.pfad}" width="200"/>
			</f:if>
		</f:for>
	</td>
</tr>